
<input type="hidden" id="information" value="<%= @hint %>"/>

<script type="text/javascript"> 
    var information=$("#information").val();
    if(information!=null&&information!='')
        alert(information); 
</script> 
<left><span>首页 > 我的所有评论</span></left>
<right><span style="float:right">
    <% if session[:name] !=nil%>用户：<%= session[:name]%>   , <a href="/logout/logout" >退出</a>, 
    <% else %>
       <a href="/login/login" >登录</a>
    <%end%>
    <%= link_to '返回', :controller => 'user_course' , :action => 'user_course'  %> 
    </span></right>
    <br></br>
      <center><h3><b>我发表的所有评论</b></h3></center>
<table class="bordered" border = "3px" bordercolor =black align = "center">
  <thead>
   
    <tr>
      <th width="250" height="30">文章名称</th>
      <th width="500" height="30">评论内容</th>
      <th width="100" height="30">发表时间</th>
      <th colspan="2">操作</th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
        <td width="250" align="center"><%= link_to comment.articlename, :controller => 'article' , :action => 'details' ,
                      :aname => comment.articlename ,:cname =>comment.coursename%></td>
        <td width="500" align="left"><%= comment.content %></td>
        <td width="100" align="center"><%= comment.createtime %></td>

        <td width="100"><%= link_to '删除',:controller => 'commentsbyauser' , :action => 'delete',:aname => comment.articlename ,:cname =>comment.coursename,
                          :commentid=>comment.id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

