

<table class="bordered" border = "3px" bordercolor = "0x4C96FF" align = "center">
  <thead>
    <tr>
      <!--<th colspan="6"><h2><b>课程名称：</b><%= @coursename %></h2></th>-->
      <h2><b>课程名称：</b><%= @coursename %></h2>
    </tr>
    </thead>
    <tr>
      <th width="500" height="50">文章名称</th>
      <th width="80" height="50">作者</th>
      <th width="80" height="50">浏览次数</th>
      <th width="80" height="50">回答次数</th>
      <th width="100" height="50">创建时间</th>
      <th colspan="1"></th>
    </tr>
  

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td width="500" height="50" align="center"><%= article.articlename %></td>
        <td width="80" height="50" align="center"><%=article.name%></td>
        <td width="80" height="50" align="center"><%=article.viewtimes%></td>
        <td width="80" height="50" align="center"><%=article.answertimes%></td>
        <td width="100" height="50" align="center"><%= article.createtime %></td>
        <td width="80" height="50" align="center"><%= link_to '查看详情', :controller => 'article' , :action => 'details' ,:aname => article.articlename , :cname => @coursename  %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '发表文章', :controller => 'article' , :action => 'newarticle',:cname =>@coursename %>


