<left><span>首页 >  <%= @coursename%> > <%= @articlename%> > 发表评论</span></left>
<right><span style="float:right">
    <% if session[:name] !=nil%>用户：<%= session[:name]%>   , <a href="/logout/logout" >退出</a>, 
    <% else %>
       <a href="/login/login" >登录</a>
    <%end%>
    <%= link_to '返回', :controller =>'article' ,:action => 'details',:aname=>@articlename,:cname=>@coursename  %> 
    </span></right>
    <br></br>
    <br></br>
  <div class="bootstrap-frm">
      <h1>Please Input Your Comment
<span>Please fill all the texts in the fields.</span>
</h1>
<%= form_for :comment, :url => {:action => 'newcomment'} do |f| %>

    <label>
        <span>评论内容:</span>
         <%= f.text_area :content,:placeholder => '评论内容', :rows =>20, :cols=>40 %>
    </label>
    <label>
        <span>&nbsp;</span>
         <%= submit_tag '发表评论' ,:cname =>@coursename,:class =>'button'%>
    <%= submit_tag '返回文章', :canme=>@coursename,:class =>'button'%>
    </label>
   
<% end %>
</div>